header, footer {
    background-color: #262626!important;
}

header {
    color: #262626;
    display: block;
}
header * {
    margin: 0;
}
header .inner {
    padding: 35px 0 29px;
}
header .logo {
    float: left;
    color: #fff;
}
header .menu {
    float: right;
}
header .clear {
    clear: both;
}

footer {
    color: #bebebe;
}
footer .inner {
    padding: 10px 0;
}
footer .inner p {
    text-align: center;
}
footer .inner a {
    text-decoration: underline;
    color: inherit;
}