<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<link type="text/css" rel="stylesheet" href="../../css/base.min.css">
<!--		<link type="text/css" rel="stylesheet" href="css/style.min.css">-->
		<link type="text/css" rel="stylesheet" href="css/style.css">
		
<!--		<script type="text/javascript" src="js/nonogram.js"></script>-->
		<script type="text/javascript" src="js/script.min.js"></script>
	</head>
	<body>
		<header>
			<div class="inner">
				<div class="title">
					<a href="../../index.html">
						<h1>Template</h1>
					</a>
				</div>
			</div>
			<div class="clear"></div>
		</header>
		<section class="page">
			<div class="pagewrap">
				
			</div>
			<div class="pagebreak">
				<div class="inner">
					<h2>Heading</h2>
					<p>Eram o senserit te fugiat adipisicing mentitum irure probant ea iudicem qui dolor, ex cillum varias sint vidisse. Sed minim sunt e proident, summis officia nam culpa magna. Et aut quem illum nisi ab commodo veniam commodo eiusmod. Voluptate varias multos est aute, an amet exquisitaque. Non tamen ingeniis voluptate sed id sed coniunctione. Possumus veniam nulla singulis tamen, velit mentitum consectetur iis ullamco sed quis ubi ita sint pariatur. Sunt se nostrud in amet, ut et sint.</p>
				</div>
			</div>
		</section>
		<footer>
			<p class="inner"><a class="colorlink" href="../../index.html">PShilling Site</a> is created and hosted by Peter Shilling</p>
		</footer>
	</body>
</html>