@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

@font-face {
    font-family: "fontello";
    src: url("../resources/fonts/fontello.woff");
    src: url("../resources/fonts/fontello.woff") format("woff"),
		 url("../resources/fonts/fontello.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
[data-icon]::before {
    display: inline-block;
    width: 1em;
    margin: .2em;
    text-align: center;
    text-transform: none;
    font: 1.2em/1em "fontello", sans-serif;
}
[data-icon="800"]::before { content: "\e800"}
[data-icon="801"]::before { content: "\e801"}
[data-icon="802"]::before { content: "\e802"}
[data-icon="803"]::before { content: "\e803"}
[data-icon="804"]::before { content: "\e804"}
[data-icon="805"]::before { content: "\e805"}
[data-icon="806"]::before { content: "\e806"}
[data-icon="807"]::before { content: "\e807"}
[data-icon="808"]::before { content: "\e808"}
[data-icon="809"]::before { content: "\e809"}
[data-icon="810"]::before { content: "\e80a"}
[data-icon="811"]::before { content: "\e80b"}