*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

html,body {
    margin: 0;
    padding: 0
}

body {
    -webkit-font-smoothing: antialiased;
    font: 400 14px/24px "Lato",sans-serif;
    color: #616161;
    background-color: #2a2a2a;
    overflow-x: hidden
}

.inner {
    margin: 0 15%;
    padding: 4.286em 0
}

.pagewrap {
    position: relative;
    padding: 0;
    overflow: hidden;
    color: #d9d9d9
}

.pagebreak {
    border: solid #959595;
    border-width: 0.357em 0;
    background-color: #f6f6f6;
    color: #616161
}

.pagebreak .inner {
    padding: 0.714em
}

.inner.chapter {
    padding: 1em
}

.title {
    color: #fff
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: color 200ms ease-in;
    -moz-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
    transition: color 200ms ease-in
}

a:hover {
    color: #ff6760
}

a.colorlink {
    color: #ff6760
}

a.colorlink:visited {
    color: #ff6760
}

a.colorlink:hover {
    color: inherit
}

section {
    display: none;
    -webkit-animation: pageswitch .5s ease-out;
    -moz-animation: pageswitch .5s ease-out;
    -ms-animation: pageswitch .5s ease-out;
    -o-animation: pageswitch .5s ease-out;
    animation: pageswitch .5s ease-out
}

section.select, .pages section {
    display: block
}

.pages .title {
    margin-bottom: 2.071em;
}

.pages .title h1::before {
    content: "<< ";
}

.pages .title h1::first-letter{
	letter-spacing: -0.2em;
}

pre, code {
	font-size: 1.04em;
	line-height: 1.04em;
}