*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    font: 400 14px/24px "Lato", sans-serif;
    color: #616161;
    background-color: #2a2a2a;
    overflow-x: hidden;
}

.inner {
    margin: 0 15%;
    padding: 60px 0;
}

.pagewrap {
    position: relative;
    padding: 0;
    overflow: hidden;
    color: #d9d9d9;
}
.pagebreak {
    border: solid #959595;
    border-width: 5px 0;
    background-color: #f6f6f6;
    color: #616161;
}
.pagebreak .inner { padding: 10px inherit;}

a {
    -webkit-transition: color 200ms ease-in;
    -moz-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
}
a:hover { color: #ff6760!important;}

section { display: none;}
section.select { display: block;}