.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    overflow: inherit !important;
    color: #b9b9b9;
}
.menu li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left: 60px;
}
.menu li p {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    position: relative;
}
.menu li ::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 11px;
    left: -32px;
    background: #3d3d3d;
}
.menu li:first-child ::before {
    display: none;
}
.menu li.active p,
.menu li p:hover {
    color: #ff6760;
}