/*  */
section {
    display: block;
}
.title {
    margin-bottom: 2.071em;
}
.title h1::before {
    content: "<< ";
}
.title h1::first-letter {
	letter-spacing: -0.2em;
}
pre, code {
	font-size: 1.04em;
	line-height: 1.04em;
}