.caption { margin: 0.833em auto}
.caption strong { font-weight: 900}
.caption .color { color: #ff6760}
.caption h1 { font-size: 4.286em}
.caption h2 { font-size: 2.857em}
.caption h1,.caption h2 {
    position: relative;
    margin: 0;
    text-align: center;
    padding-bottom: 29px;
    font-weight: 300;
    line-height: normal;
    white-space: nowrap
}

.rowbox a {
    color: #ff6760;
    text-decoration: none
}
.rowbox a:hover { color: #616161!important}
.rowbox .row span::before {
    width: 1em;
    margin: 0.174em 0.167em 0;
    font-size: 8.571em;
    text-align: center;
    float: left;
}
.rowbox .rowtext {
    text-align: center;
    font-size: 1.143em;
    padding: 0 2.5em;
    margin-left: 10em;
    min-height: 8.75em
}
.rowbox .rowtext h3 {
    padding-top: 1.250em;
    margin-bottom: 0;
    font-size: 1.429em
}
.rowbox .row p { line-height: 1.5em}
.rowbox .row span,.rowbox .rowtext h3 {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in
}
.row:hover { color: #ff6760!important}
.row:hover p { color: #616161}