/* QUERIES */
@media only screen and (max-width: 800px) {
	.contact input,
	.contact textarea {
		height: 3.4em;
		padding-left: 3.4em
	}
	.contact textarea {
		height: 9em;
		padding-top: .9em
	}
}
@media only screen and (max-width: 640px) {
	.contact input,
	.contact textarea {
		height: 3em;
		padding-left: 3em
	}
	.contact textarea {
		height: 8em;
		padding-top: .6em
	}
	.codepages article {
        border-radius: 0;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
}